{% extends 'base.html' %}

{% block content %}
<p><a href="{% url 'listado' %}">listado</a></p>

{{ libro.titulo }} &lt;{{ libro.isbn }}&gt;

{% if msg %}
  <script>alert('{{ msg }}');</script>
{% endif %}

<form method="post" action=".">
  {% csrf_token %}
  {% if libro.prestado %}
    <input type="hidden" name="accion" value="devolver">
    Devolver antes de: {{ libro.fecha_devolucion }}
    <input type="submit" value="devolver">
  {% else %}
    <input type="hidden" name="accion" value="prestar">
    <input type="submit" value="prestar">
  {% endif %}
</form>
{% endblock %}
